// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$dark-gray: #5A5A5A;
$light-gray: #CDCDCD;
$medium-gray: #6A6A6A;
$purple: #685F82;
$green: #288278;
$coral: #EA785B;
$background-purple: #F5F5F8;
