// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #4B4B4B;
$light-gray: #F4F4F4;
$medium-gray: #6A6A6A;
