// Specific CSS for your home-page

// .carousel-container {
//   margin-top: 30px;
// }


.home-page-title {
  font-size: 1.1em;
  font-weight: lighter;
  color: $dark-gray;
  letter-spacing: 1.25px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $light-gray;
  line-height: 0.1em;
  margin: 30px 0 30px 0;
  span {
    background:$background-purple;
    padding:0 30px;
  }
}





