// Specific CSS for your home-page

.carousel-container {
  margin-top: 30px;
}

.top-carousel {
  max-height: 310px;
}

.home-page-title {
  font-size: 1.1em;
  margin-bottom: 140px;
  font-weight: lighter;
  color: $dark-gray;
  letter-spacing: 1.25px;
  text-align: center;
}


