.playlist-episode-card {
  display: flex;
  background-color: white;
  padding: 10px 5px;
  margin: 15px;
  color: $dark-gray;
    ol {
      margin-bottom: 0;
      padding-left: 30px;
    }
}

.playlist-title {
  display: flex;
  margin-right: 4px;
  justify-content: space-between;
}

.hightlighted-div {
  margin-left: 15px;
}
 .p-margin {
  margin-right: 5px;
  padding-left: 10px;
 }
