<div class="mt-3">
  <iframe src="https://www.listennotes.com/embedded/e/<%= @episode["id"] %>/" style ="border:none; border-radius:10px; height:100px;width: 100%" frameborder = "0" allowtransparency="true" scrolling = "no" allow="encrypted-media"> </iframe>
</div>
