<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
        <div>
        </div>
        <div class="button-list nav-dropdown">
        <i class="fas fa-stream" style="color: #288278;"id="icon1" onclick="change('icon1')" data-toggle="dropdown" ></i>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <a class="dropdown-item" href="/playlists">Playlists</a>
            <a class="dropdown-item list-padding" href="/users">Followers</a>
            <a class="dropdown-item list-padding" href="#">Settings</a>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item last-child" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "dropdown-item"%>
            <a class="dropdown-item last-child" href="#">Settings</a>
          <% end %>
        </div>
  </div>
</div>

<script>
  function change (iconID){
  if(document.getElementById(iconID).className=="fas fa-stream"){
    document.getElementById(iconID).className = "fas fa-times";
  }else{
    document.getElementById(iconID).className = "fas fa-stream";
  }
}
</script>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'sweetalert2' %>
<% end %>
