<h4 class="tag-title">Got something specific in mind?</h4>
<div class="search_bar">
  <input class="search-bar-bar" name="keyword" type="text" placeholder="Keyword">
  <i class="icon fa fa-search fa-2x search-icon"></i>
</div>
