  <div id="carousel">

    <div class="hideLeft">
        <img src="https://thumborcdn.acast.com/46gcVg9exHSnTdmTYla0qTxVcKM=/3000x3000/https://mediacdn.acast.com/assets/a3289f5e-b832-4883-8634-f8e1b63d2506/cover-image-k262ujt2-crest_1500x1500.png">
    </div>

    <div class="prevLeftSecond">
        <img src="https://upload.wikimedia.org/wikipedia/en/f/f8/My_Dad_Wrote_a_Porno_logo.jpg">
    </div>

    <div class="prev">
      <img src="https://pi.tedcdn.com/r/pb-assets.tedcdn.com/system/baubles/files/000/005/187/original/TED_Talks_Podcast_Thumbnail_Audio_600px.png?w=320">
    </div>

    <div class="selected">
      <img src="https://pbcdn1.podbean.com/imglogo/image-logo/3751525/channel_logo.jpg">
    </div>

    <div class="next">
      <img src="http://db.radioline.fr/pictures/podcast_9e23341b9a3cb5ffca548f25121228f3/logo200.jpg">
    </div>

    <div class="nextRightSecond">
      <img src="https://images.squarespace-cdn.com/content/v1/5b6a11479f87707f6722bd01/1541786848970-Y0SCCZBCEY6OAE790VFB/ke17ZwdGBToddI8pDm48kBGXyafUB8yWG4KjwCfhF-h7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0oGwQPSn8VqSSM4mc7rOnoi8EomDrLlao9PymplyGSJzVV4ZRZocnT-l5pBaMw0uoA/MFM.jpg">
    </div>

    <div class="hideRight">
      <img src="https://allthingscomedy.com/images/_larger/DOLLOP_cover2.jpg">
    </div>

    <!-- Commented out until we work out how to implement Spotify / Podcasts API -->
    <!-- <div class="hideRight"> -->
      <!-- <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg"> -->
      <!-- <iframe src="https://open.spotify.com/embed/artist/4QQgXkCYTt3BlENzhyNETg" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
      <!-- <iframe src="https://embed.spotify.com/?uri=spotify:episode:5TSsSAR7MHV2aC7jVvpvBw&amp;theme=white" style= "width: 400px; height: 400px"></iframe> -->
    <!-- </div> -->

  </div>

<!--   <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div> -->





