<main>

  <div id="carousel">

    <div class="hideLeft">
      <img src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg">
    </div>

    <div class="prevLeftSecond">
      <img src="https://i1.sndcdn.com/artworks-000185743981-tuesoj-t500x500.jpg">
    </div>

    <div class="prev">
      <img src="https://i1.sndcdn.com/artworks-000158708482-k160g1-t500x500.jpg">
    </div>

    <div class="selected">
      <img src="https://i1.sndcdn.com/artworks-000062423439-lf7ll2-t500x500.jpg">
    </div>

    <div class="next">
      <img src="https://i1.sndcdn.com/artworks-000028787381-1vad7y-t500x500.jpg">
    </div>

    <div class="nextRightSecond">
      <img src="https://i1.sndcdn.com/artworks-000108468163-dp0b6y-t500x500.jpg">
    </div>

    <div class="hideRight">
      <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg">
    </div>

    <!-- Commented out until we work out how to implement Spotify / Podcasts API -->
    <!-- <div class="hideRight"> -->
      <!-- <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg"> -->
      <!-- <iframe src="https://open.spotify.com/embed/artist/4QQgXkCYTt3BlENzhyNETg" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
      <!-- <iframe src="https://embed.spotify.com/?uri=spotify:episode:5TSsSAR7MHV2aC7jVvpvBw&amp;theme=white" style= "width: 400px; height: 400px"></iframe> -->
    <!-- </div> -->

  </div>

  <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div>

</main>



