<label for="customRange1"><h2 class="mt-3 mb-1">Duration? <span id="lower-duration"></span>-<span id="upper-duration"></span> minutes</h2></label>
<div class="slidecontainer multi-range">
  <input type="range" name="lower-duration" min="0" max="120" value="5" class="slider" id="lower-duration-slider" step="5">
  <input type="range"  name="upper-duration" min="0" max="120" value="30" class="slider" id="upper-duration-slider" step="5">
</div>
