<label for="customRange1"><h2 class="my-3 p-0">Duration? <span id="lower-duration"></span>-<span id="upper-duration"></span> minutes</h2></label>
<div class="slidecontainer multi-range">
  <input type="range" name="lower-duration" min="20" max="90" value="30" class="slider" id="lower-duration-slider" step="10">
  <input type="range" name="upper-duration" min="20" max="90" value="40" class="slider" id="upper-duration-slider" step="10">
</div>
