<label for="customRange1"><h4 class="tag-title">How long have you got? <span id="lower-duration"></span>-<span id="upper-duration"></span> minutes</h4></label>
<div class="slidecontainer multi-range">
  <input type="range" name="lower-duration" min="1" max="300" value="50" class="slider" id="lower-duration-slider">
  <input type="range" name="upper-duration" min="1" max="300" value="100" class="slider" id="upper-duration-slider">
</div>
