<h1 class="flanked-title"><span>New Releases</span></h1>


<div class="episode-card-grid">
  <% Episode.all.first(6).each do |episode| %>
    <div class="episode-card-in-grid">
      <%= link_to episode_path(episode) do  %>
      <img src="<%= episode.img_url %>" style="width:100px;" alt="">
      <% end %>
    </div>
  <% end %>
</div>



