<h1 class="flanked-title"><span>New Releases</span></h1>
<div class="card-grid">
  <div class="episode-card-grid">
    <% Episode.all.first(9).each do |episode| %>
      <div class="episode-card-in-grid">
        <img src="<%= episode.img_url %>" style="width:85px;"alt="">
      </div>
    <% end %>
  </div>
</div>


