  <div id="carousel">

    <div class="hideLeft">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGOE5jg72TStx6gV3RUFJFw0qK6da19WFatRcXq4eQDeS1xpo6&s">
    </div>

    <div class="prevLeftSecond">
      <img src="http://images.theabcdn.com/i/34514016.jpg">
    </div>

    <div class="prev">
      <img src="https://is5-ssl.mzstatic.com/image/thumb/Podcasts123/v4/a5/bc/28/a5bc283a-21a0-b1ad-3ad7-02f5b2a5dd61/mza_1292305871420874005.jpg/268x0w.jpg">
    </div>

    <div class="selected">
      <img src="https://images.theabcdn.com/i/35415467.jpg">
    </div>

    <div class="next">
      <img src="https://i1.sndcdn.com/avatars-000578286531-oewsyb-t500x500.jpg">
    </div>

    <div class="nextRightSecond">
      <img src="https://thumborcdn.acast.com/nK3JTzx8PraHpNHyRxmaNZP6bW4=/500x500/https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Ft_rss_itunes_square_1400%2Fimages.spreaker.com%2Foriginal%2F70f6d7c18476d5981f7b3b4c332a80e6.jpg">
    </div>

    <div class="hideRight">
      <img src="https://files.whooshkaa.com/podcasts/podcast_3289/podcast_media/154a7e-itunes-220.jpg">
    </div>

    <!-- Commented out until we work out how to implement Spotify / Podcasts API -->
    <!-- <div class="hideRight"> -->
      <!-- <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg"> -->
      <!-- <iframe src="https://open.spotify.com/embed/artist/4QQgXkCYTt3BlENzhyNETg" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
      <!-- <iframe src="https://embed.spotify.com/?uri=spotify:episode:5TSsSAR7MHV2aC7jVvpvBw&amp;theme=white" style= "width: 400px; height: 400px"></iframe> -->
    <!-- </div> -->

  </div>

<!--   <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div> -->
