<div id="random-pod">
  <% episode = Episode.all.sample %>
  <div class="random-episode-card">
    <img src="<%= episode.img_url %>" style="width:100px">
    <div class="random-episode-card-content">
      <h2><%= episode.title.first(43) %>...</h2>
      <p><%= episode.summary.first(60) %>...</p>
    </div>
  </div>
</div>
