<h1 class="flanked-title"><span>Something random</h1>

<div class="random-generator-container">


<%= link_to "Create", random_podcast_path, remote: true, class: "btn-random-episode", id: "random-button" %>

<!-- <button type="button" id="random-button" class="btn-random-episode">Choose</button> -->

<div class="random-episode">
</div>
<!-- <div id="mystery-pod" style="height:90px" class="">

</div> -->

</div>



