<div class="container">

  <!-- <form action="/episodes", method="get">
    <div class="search_bar">
      <i class="icon fa fa-search fa-2x search-icon"></i>
      <input class="search-bar-bar" name="keyword" type="text" placeholder="Keyword">
    </div>
  </form> -->

  <div class="carousel-container">
    <h3 class="home-page-title"><span>Most popular</span></h3>
    </div>

    <div>
      <%= render 'carousel' %>
    </div>
    <h3 class="home-page-title"><span>New Releases</span></h3>
    <div>
      <%= render 'new_releases_carousel' %>
    </div>
    <h3 class="home-page-title"><span>Friends picks</span></h3>
    <div>
      <%= render 'new_releases_carousel' %>
    </div>

  </div>

</div>
<!-- Commented out until we work out how to implement Spotify / Podcasts API -->
<!-- <h1><%= @artists %></h1> -->
