  <div class="container mt-4">
  <div class="search_bar">
    <i class="icon fa fa-search fa-2x search-icon"></i>
    <input class="search-bar-bar" name="keyword" type="text" placeholder="Keyword">
  </div>
  </div>
  <div class="text-center">
    <h2>Most Popular</h2>
  </div>
  <%= render 'carousel' %>

  <div class="text-center">
    <h2>New Releases</h2>
  </div>
  <%= render 'carousel' %>

<!-- Commented out until we work out how to implement Spotify / Podcasts API -->
<!-- <h1><%= @artists %></h1> -->
