<div class="container">
  <form action="/episodes", method="get" id="search-form">
    <div class="form-group">
      <div class="row">
        <div class="col-12">
          <%= render 'shared/search_bar' %>
          <%= render 'tag_list' %>
          <%= render 'duration_slider' %>
          <!-- make slider icon the padfast logo -->

        </div>
      </div>
    </form>
  </div>
</div>

<br>
<br>
<br>
<br>
<script type="text/javascript">
  var lowerSlider = document.getElementById("lower-duration-slider");
  var upperSlider = document.getElementById("upper-duration-slider");
  var lowerOutput = document.getElementById("lower-duration");
  var upperOutput = document.getElementById("upper-duration");
  lowerOutput.innerHTML = lowerSlider.value; // Display the default slider value
  upperOutput.innerHTML = upperSlider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
  lowerSlider.oninput = function() {
  lowerOutput.innerHTML = this.value;
}

  upperSlider.oninput = function() {
  upperOutput.innerHTML = this.value;
}
// listen on to the submit of this form and then send trigger the submit button.
</script>



