<div class="container">
  <form action="/episodes", method="get">
    <div class="form-group">
      <div class="row">
        <div class="col-12">
          <%= render 'shared/search_bar' %>
          <%= render 'tag_list' %>
          <%= render 'duration_slider' %>
          <!-- make slider icon the padfast logo -->
          <input type="submit" name="submit" class="btn-submit-form">
        </div>
      </div>
    </form>
  </div>
</div>

<br>
<br>
<br>
<br>
<script type="text/javascript">
  var lowerSlider = document.getElementById("lower-duration-slider");
  var upperSlider = document.getElementById("upper-duration-slider");
  var lowerOutput = document.getElementById("lower-duration");
  var upperOutput = document.getElementById("upper-duration");
  lowerOutput.innerHTML = lowerSlider.value;
  upperOutput.innerHTML = upperSlider.value;

  lowerSlider.oninput = function() {
  lowerOutput.innerHTML = this.value;
}

  upperSlider.oninput = function() {
  upperOutput.innerHTML = this.value;
}
</script>


