.button-back {
font-size: 30px;
font-weight: lighter;
}

.button-list{
  font-size: 22px;
}

.button{
    width: 90%;
    height: 80%;
    cursor: pointer;
    background-color: #F49D37;
    transition: .5s;
    font-size: 18px;
    border-radius: 3px;
    font-family: "Lato",sans-serif;
    border: none;
    color: white;
}

.button-podfast {
  background-color: #F49D37;
  border-radius: 3px;
  color: white;
}


.create-new-playlist {
  background-color: #F49D37;
  border-radius: 3px;
  color: white;
  padding: 0px 20px 2px 20px;
  font-size: 30px;
  font-weight: bolder;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  &:hover {
    text-decoration: none;
    color:white;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
}
