.button-back {
font-size: 30px;
font-weight: lighter;
}

.button-list{
  font-size: 22px;
}

.button{
    width: 90%;
    height: 80%;
    cursor: pointer;
    background-color: #F49D37;
    transition: .5s;
    font-size: 18px;
    border-radius: 3px;
    font-family: "Lato",sans-serif;
    border: none;
    color: white;
}
