#carousel {
  // position: relative;
  height: 175px;
  // top: 18%;
  transform: translateY(0%);
  overflow: hidden;
  margin-bottom: 25px;
  margin-top: 25px;


}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 175px;
  transition: width 1s;
  border-radius: 10px;
  filter: grayscale(10%);
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(0%) translateX(-0%);
}
#carousel div.hideLeft img {
  width: 100px;
  border-radius: 10px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(0%) translateX(-0%);
}
#carousel div.hideRight img {
  width: 100px;
  border-radius: 10px;
}
#carousel div.prev {
  z-index: 5;
  left: 34%;
  transform: translateY(20px) translateX(-50%);
}
#carousel div.prev img {
  width: 140px;
  border-radius: 10px;
  border: 0.5px solid $light-gray;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 21.5%;
  margin: 0 0;
  transform: translateY(28%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 120px;
  border-radius: 10px;
  border: 0.5px solid $light-gray;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.selected img{
  border: 0.5px solid $light-gray;
}

#carousel div.next {
  z-index: 5;
  left: 66%;
  transform: translateY(20px) translateX(-50%);
}
#carousel div.next img {
  width: 140px;
  border-radius: 10px;
  border: 0.5px solid $light-gray;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 78.5%;
  margin: 0 0;
  transform: translateY(28%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 120px;
  border-radius: 10px;
  border: 0.5px solid $light-gray;
}

// .buttons {
//   position: fixed;
//   left: 50%;
//   transform: translateX(-50%);
//   bottom: 10px;
// }
