.episode-card {
  height: 22vh;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 0 10px rgba(205,205,205,.5);
  background-color: white;
  img {
    height: 68px;
    width: 68px;
    padding: 0px;
    border-radius: 5px;
  }
  .card-details {
    color: $dark-gray;
    display: flex;
    max-height: 80px;
    max-width: 270px;
    text-overflow: ellipsis;
    padding: 7px 10px 0px 10px;
    flex-direction: column;
    letter-spacing: 1.15px;
    position: absolute;
    top: 40px;
    margin-left: 7px;
    // text-align: justify;
  }
  .card-tags {
    display: flex;
    font-size: 0.75em;
    letter-spacing: 1.25px;
    padding-left: 10px;
    color: $dark-gray;
  }
  &:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    text-decoration: none;
  }
  h3 {
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 5px;
  }
  p {
    // font-size: 0.8em;
    margin-bottom: 0px;
    letter-spacing: 0.1px;
    overflow: hidden;
    // opacity: 0.5;
  }
  .p-summary {
    opacity: 0.5;
    font-size: 0.8em;
  }

}


.card-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 75px);
  position: relative;
}

.card-tags {
  margin-bottom: 5px;
}

.default_tags {
  background-color: $dark-gray;
  color: white;
  border: white 2px solid;
  padding: 0px 4px;
  border-radius: 3px;
  opacity: 0.9;
  p {
    letter-spacing: 0.5px;
    font-size: 1.2em;
  }
}

.selected_tag {
  background-color: $coral;
  border: white 2px solid;
  padding: 0px 4px;
  opacity: 1;
}

.general_tags {
  color: $dark-gray;
  padding: 2px 2px 2px 0px;
  margin-left: 6px;
  font-size: 0.7em;
}

.card-info-bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  position: absolute;
  top: 10px;
  margin-left: 6px;
}

.icons-info {
  display: flex;
  color: $dark-gray;
  opacity: 0.8;
  padding-bottom: 2px;
  margin-right: 9px;
  font-size: 12px;
}

.icons-stats-info {
  display: flex;
  align-items: center;
    i {
      background-color: #e8e8e8 ;
      padding: 3px;
      border-radius: 50%;
      margin: 0;
    }
}

.general-tags-info {
  display: flex;
  vertical-align: bottom;
  position: absolute;
  bottom: 15px;
  margin-left: 10px;
  opacity: 0.8;
}

.image-card {
  width: 70px;

}

.image-absolute {
  position: relative;
    img {
      position: absolute;
      top: 10px;
      left: 10px;
    }
}

.first-stat {
  margin-right: 3px;
}
