.episode-card:focus {
  transform: scale(0.95);
}

.episode-card {
  transition: all 300ms ease;
  height: 22vh;
  padding: 3px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 0 10px rgba(205,205,205,.5);
  background-color: white;
  img {
    height: 80px;
    width: 80px;

    border-radius: 5px;
  }
  .card-details {
    color: $dark-gray;
    display: flex;
    max-height: 120px;
    max-width: 270px;
    text-overflow: ellipsis;
    padding: 0px 10px;
    flex-direction: column;
    letter-spacing: 1.15px;
    position: absolute;
    top: 40px;
    margin-left: 22px;
    // text-align: justify;
  }
  .card-tags {
    display: flex;
    font-size: 0.75em;
    letter-spacing: 1.25px;
    padding-left: 24px;
    color: $dark-gray;
  }
  // &:hover {
  //   transition: box-shadow 0.5s;
  //   box-shadow: 0 0 2px rgba(0,0,0,0.2);
  //   text-decoration: none;
  // }
  p {
    // font-size: 0.8em;
    margin-bottom: 5px;
    letter-spacing: 0.1px;
    overflow: hidden;
    font-size: 0.9em;


    // opacity: 0.5;
  }
  .p-summary {
    opacity: 0.5;
    font-size: 0.8em;
  }
}


.card-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 70px);
  position: relative;
}

.card-tags {
  margin-bottom: 5px;
}

.default_tags {
  background-color: $dark-gray;
  color: white;
  border: 1px solid white;
  padding: 1px 3px;
  border-radius: 5px;
  opacity: 0.9;
  p {
    letter-spacing: 0.5px;
    font-size: 1em;
  }
}

.selected_tag {
  background-color: $coral;
  border: white 1px solid;
  padding: 1px 3px;
  opacity: 1;
  border-radius: 5px;
}

.general_tags {
  color: $dark-gray;
  padding: 0px 0px 2px 0px;
  font-size: 0.75em;

}

.card-info-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2px;
  position: absolute;
  top: 10px;
  margin-left: 6px;
}

.icons-info {
  display: flex;
  color: $dark-gray;
  opacity: 0.8;
  padding-bottom: 2px;
  margin-right: 9px;
  margin-bottom: 5px;
  font-size: 10px;
}

.icons-stats-info {
  display: flex;
  align-items: center;
  padding-right: 3px;
    i {
      background-color: #e8e8e8 ;
      padding: 5px;
      border-radius: 50%;
    }
    p {
      margin: 0;
    }
}

.general-tags-info {
  display: flex;
  opacity: 0.8;
  margin-top: 4px;
}

.image-card {
  width: 70px;

}

.image-absolute {
  position: relative;
    img {
      position: absolute;
      top: 10px;
      left: 10px;
    }
}

.first-stat {
  margin-right: 0px;
}

.last-stat {
  margin-left: 0px;
  padding: 2px;
  i {
    padding-right: 5px;
  }
}


.random-episode-card-wrapper {

    color: $medium-gray;
    &:focus {
      text-decoration: none;
      color: $medium-gray;
    }
}

.random-episode {
  padding-bottom: 10px;
}

.random-episode-card {
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  border-radius: 10px;
  background-color: white;
  img {
    border-radius: 10px 0px 0px 10px;
    height: 100px;
    width: 100px;
  }
}

.random-episode-card-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
  h2 {
    font-size: 0.8em;
    padding-top: 10px;
    margin: 0px;
  }
  p {
    font-size: 0.8em;
    margin-bottom:0;
  }
}

