.description-card {
  margin-top: 10px;
  overflow: hidden;
  padding: 16px;
  background: white;
  color: #F49D37;
  border-radius: 9px;
  align-items: center;
  h1 {
  font-size: 14px;
  font-family: $body-font;
  letter-spacing:0.5px;
  font-weight: bold;
  margin-bottom: 10px;
  }
  p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #6A6A6A;
  }
}

.icons_card {
  display:flex;
  justify-content: space-between;
  align-content: center;
  padding: 8px;
  margin-bottom: 4px;
  background: white;
  color: #F49D37;
  border-radius: 9px;
  text-align: right;
}
