.comment-title-and-icons {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}


.comment-icons {
  color: #C2C2C0;
  &:hover {
    color: $dark-gray;
  }
}

#comment_content {
  border-radius: 10px;
  resize: none;
}

h2 {
  padding-bottom: 15px;
}

