.episode-info {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
}

.episode-info-card {
  display: flex;
  margin: 5px;
  padding-left: 12px;
  padding-right: 5px;
  button {
  }
}


