.episode-card-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.episode-card-in-grid {
  position: relative;
  border-radius: 8px;
  margin: 8px auto;
  box-shadow: 0px 0px 4px #c4c4c4;
  img {
    border-radius:5px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }

}
