// .add-to-playlist-modal {
//   position: fixed;
//   top: 60%;
//   right: 3%;
//   left: 3%;
//   width: auto;
//   margin: 0;
// }

#add-to-playlist-icon {
  font-size: 16px;
  color: $medium-gray;
}

.modal-playlist {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  right: 0;
  top: auto;
  bottom: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.close-div {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  p {
    margin-bottom: 4px;
    color: $dark-gray;
    font-weight: bold;
  }
}


// .close-button {
//   position: absolute;
//   float: right;
// }

// .modal-info {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   p {
//     margin-top: 5px;
//     margin-left: 15px;
//     color: $dark-gray;
//     margin-bottom: 0px;
//     font-weight: bolder;
//   }
// }



.button-podfast-custom {
  border-radius: 3px;
  padding: 0px;
  color: $dark-gray;
  font-weight: bold;
  // background-color: $coral;
}

.modal-create-playlist-form {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 20px;
}

.create-new-playlist-form {
  flex-grow: 1;
  border: 1px solid $light-gray;
  border-radius: 5px;
}

.btn-create-playlist {
  border: 1px solid $coral;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0px 20px;
}

.modal-playlist-name {
  display: flex;
}

.playlist-episode-count {
  margin-top: 2px;
  opacity: 0.5;
  margin-left: 5px;
}

.div-create-new-playlist {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
  p {
    font-size: 1em;
    letter-spacing: 1px;
  }
}

.green-header {
  font-size: 1em;
  letter-spacing: 1px;
}

// .close-button {
//   position: absolute;
//   float: right;
// }

// .modal-info {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   p {
//     margin-top: 5px;
//     margin-left: 15px;
//     color: $dark-gray;
//     margin-bottom: 0px;
//     font-weight: bolder;
//   }
// }


