.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: white;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 0px 0px 1px gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.submit-search-page {
  position: fixed;
  bottom: 0px;
}

.navbar-lewagon a {
  color:  #288278;
  text-decoration: none ;
  border-radius: 3px;
  line-height: none;
}

.navbar-podfast {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  color: white;
  box-shadow: 0px 0px 1px gray;
  z-index: 2;
  border-radius: 5px 5px 0 0;
}

.navbar-podfast-searchpage {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  color: white;
  z-index: 2;
}

.navbar-podfast a {
  display: inline-block;
  text-align: center;
  padding: auto;
  text-decoration: none;
}


// .navbar-home a.active {
//   background-color: #288278;
//   // background-color: white;
//   border-radius: 2px;
//   color: white ;
// }
@keyframes grow {
  to {
    transform: scale(1.2) translate(0, 0);
  }
}

.nav-home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #288278;
  text-decoration: none;
  a {
    color: #288278;
     &.active{
      animation: grow 350ms forwards;
    }
  }
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  a {
    color: #288278;
    &.active{
      animation: grow 350ms forwards;
    }
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  a {
    text-align: center;
    color: #288278;
    &.active{
      animation: grow 350ms forwards;
    }
  }
}

.nav-friends {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;

  a {
    text-align: center;
    color: #288278;
    &.active{
      animation: grow 350ms forwards;
    }
  }
}

// a .active {
//   color: white;
// }


.nav-search-searchpage {
  display: flex;
  justify-content: center;
  align-items: center;

}

.dropdown-menu {
  margin: 0 0;
  width: 20px;
  background:#288278;
  border-radius: 0 0 5px 5px;
  border: none;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  opacity: 0;
  display: block !important;
  transition: 350ms;
  transform: translateX(160px);
  visibility: hidden;
  z-index: 19;

    .dropdown-item {
      letter-spacing:1.25px;
      color:white;
      height: 33px;
      border-bottom: 1px solid white;
    }
    .list-padding {
      height: 41px;
      line-height: 28px;
    }

    &.show {
      opacity: 0.95;
      transform: translateX(0);
      visibility: visible;
    }
}

.last-child {
  border:none !important;
}

.green {
  color: #288278 !important;
  font-size: 18px;
}

