.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: white;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 0px 0px 1px gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.submit-search-page {
  position: fixed;
  bottom: 0px;
}

.navbar-lewagon a {
  color:  #288278;
  text-decoration: none ;
  border-radius: 3px;
  line-height: none;
}

.navbar-podfast {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  color: white;
  box-shadow: 0px 0px 1px gray;
  z-index: 2;
}

.navbar-podfast a {
  display: inline-block;
  text-align: center;
  padding: auto;
  text-decoration: none;
}


// .navbar-home a.active {
//   background-color: #288278;
//   // background-color: white;
//   border-radius: 2px;
//   color: white ;
// }

.nav-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  color: #288278;
  text-decoration: none;
  a {
    color: #288278;
  }
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  text-decoration: none;
  a {
    color: #288278;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  text-decoration: none;
  a {
    text-align: center;
    color: #288278;
  }
}

.nav-friends {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  text-decoration: none;
  a {
    text-align: center;
    color: #288278;
  }
}

a .active {
  color: white;
}

.active {
  width: 90%;
  border-radius: 5px;
  height: 40px;
  background-color: #288278;
  i {
    color: white;
  }
}

.nav-search-searchpage {
  display: flex;
  justify-content: center;
  align-items: center;

}

.dropdown-menu {
  margin: 0 0;
  width: 20px;
  background:#288278;
  border-radius: 0 0 3px 3px;
  border:none;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  .dropdown-item {
    letter-spacing:1.25px;
    color:white;
  }
}

.green {
  color: #288278 !important;
  font-size: 26px;
}
