.sort-options-container {
  // padding: 5px;
  display: flex;
  padding-top: 10px;
  border-radius: 5px;
  justify-content: space-between;

}

.sort-options-container a:hover {
  text-decoration:none;
  color:white;
}

.sort-options {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  flex-grow: 1;
  // flex-grow: 1;
  letter-spacing: 1px;
  border-radius: 5px;
  background: $light-gray;
  color: black;
  opacity: 0.4;
  padding: 5px 10px;
  width: 100px;
  text-decoration:none;
  // transition: background-color 0.5s ease;
  &:hover {
    text-decoration:none;
  }
  &:active {
    text-decoration:none;
  }
}

.sort-active {
  opacity: 1;
  background: $green;
  color: white;
}

