.sort-options-container {
  padding: 5px;
  display: flex;
  border-radius: 5px;
  background: white;
  justify-content: space-between;
  i {
    padding: 0 5px;
    color: $green;
    margin: auto 0 ;
    opacity: 0.7;
}
}

.sort-options-container a:hover {
  text-decoration:none;
  color:white;
}

.sort-options {
  text-align: center;
  margin: 4px;
  flex-grow: 1;
  letter-spacing: 1px;
  border-radius: 5px;
  background: $green;
  color: white;
  opacity: 0.4;
  padding: 5px;
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
  &:active {
    text-decoration:none;
  }
}

.sort-active {
  opacity: 1;
}

