.user-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background:white;
  width:100%;
  border-radius:30px;
  p {
    margin: 0 auto;
    text-align: center;
  }
  i {
    color: orange;
  }
}

.user-profile {
  height: 40px;
  width: 40px;
  border: 1px solid gray;
  border-radius:50%;
  margin-right: 20px;
}

.user-card {
  text-align: center;
}

.user-search {
  border-radius: 20px;
  width: 100%;
}

.unordered-user-list {
  list-style: none;
  padding:0;
}
