.user-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background:white;
  width:100%;
  text-align: center;
  border-radius:30px;
  p {
    margin: 0 auto;
    text-align: center;
  }
  i {
    color: $coral;
    margin-right: 10px;
  }
}

.user-profile {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius:50%;
  margin-right: 20px;
}

.user-card {
  text-align: center;
}

.user-search {
  margin: 10px 0px;
  width: 100%;
}

.unordered-user-list {
  list-style: none;
  padding:0;
}

.user-likes {
  // padding: 4px;
  border-radius:50%;
  // background: $light-gray;
  margin-left: 2px;
  margin-right: 2px;
  color:$medium-gray;
  font-size: 12px;
}


.podfast-tab {
  font-size: 0.9em;
  color: $dark-gray;
  font-family: $body-font;
}

.episode-liked-by-user {
  color: $coral;

}


.recent-searches {
  margin-top: 10px;
  p {
    font-size: 0.9em;
  }
}


.holding-message {
  margin-top: 20px;
  font-size: 0.9em;
  opacity: 0.8;

}

.followable-avatars {
  border-radius: 8px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 5px;
  overflow-x: auto;
  .user-profile-show {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius:50%;
  margin-right: 0px;
  float:right;
  }
}



