<div class="container pt-5">
  <% @playlist.episodes.each do |episode|  %>
    <%= link_to episode_path(episode), class: "playlist-episode-card" do   %>
      <%= episode.title  %>
    <% end %>
  <% end %>
</div>
