<div class="container">
  <div class="hightlighted-div">
    <i class="highlighted highlighted-orange">Episodes</i>
  </div>

  <% @playlist.episodes.each_with_index do |episode, i|  %>
    <%= link_to episode_path(episode), class: "playlist-episode-card" do   %>
          <p class="p-margin"><%= i + 1 %>.</p>
          <p><%= episode.title  %></p>

    <% end %>
  <% end %>
</div>
